* {
    box-sizing: border-box;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
}

body, video{
    margin: 0;
    padding: 0;
}

video {
    width: 90vw;
    height: 90vh;
}